openapi: 3.0.1
info:
  title: ORD VK API
  version: '1.0'
servers:
- url: https://api-sandbox.ord.vk.com/
  description: Host of ORD sandbox API
- url: https://api.ord.vk.com/
  description: Host of ORD production API
tags:
- name: person
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#person'
    target='_blank'>контрагентами</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/person.html
    description: Документация ОРД VK
- name: contract
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#contracts'
    target='_blank'>договорами</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/contract.html
    description: Документация ОРД VK
- name: pad
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#venue'
    target='_blank'>рекламными площадками</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/pad.html
    description: Документация ОРД VK
- name: creative
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#creative'
    target='_blank'>креативами</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/creative.html
    description: Документация ОРД VK
- name: media
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#media'
    target='_blank'>медиафайлами</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/media.html
    description: Документация ОРД VK
- name: invoice
  description: Группа методов для работы с <a href='https://ord.vk.com/help/api/glossary/main-objects.html#invoice'
    target='_blank'>актами</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/invoice.html
    description: Документация ОРД VK
- name: statistics
  description: Группа методов для работы со <a href='https://ord.vk.com/help/api/glossary/main-objects.html#statistics'
    target='_blank'>статистиками</a> в ОРД VK.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/statistics.html
    description: Документация ОРД VK
- name: erir_status
  description: Группа методов для получения статусов обработки <a href="https://ord.vk.com/help/api/glossary/main-objects.html"
    target="_blank">объектов по работе с рекламой</a> в <a href="https://ord.vk.com/help/api/glossary/#uroa"
    target="_blank">ЕРИР</a>.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/erir-status.html
    description: Документация ОРД VK
- name: dictionary
  description: Группа методов для работы со словарями в ОРД VK.
  externalDocs:
    url: https://ord.vk.com/help/api/ref/dictionary.html
    description: Документация ОРД VK
paths:
  /v1/person:
    get:
      tags:
      - person
      summary: Получить список контрагентов
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> контрагентов, отсортированный
        в лексикографическом порядке.
      operationId: v1-get-person-list
      parameters:
      - $ref: '#/components/parameters/query_offset'
      - $ref: '#/components/parameters/query_limit'
      responses:
        200:
          $ref: '#/components/responses/get_v1_person_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/person/{external_id}:
    put:
      tags:
      - person
      summary: Создать контрагента
      operationId: v1-create-person
      description: |
        Метод создаёт или обновляет данные контрагента. Если контрагент с переданным идентификатором:

        * Не существует, метод создаст контрагента.
        * Существует, метод обновит данные контрагента.
      parameters:
      - $ref: '#/components/parameters/path_person_external_id'
      requestBody:
        $ref: '#/components/requestBodies/put_internal_v1_person_request'
      responses:
        200:
          description: OK (данные контрагента обновлены)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        201:
          description: Created (контрагент создан)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
    get:
      tags:
      - person
      summary: Получить контрагента
      operationId: v1-get-person
      description: Получить данные контрагента.
      parameters:
      - $ref: '#/components/parameters/path_person_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_person_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/contract:
    get:
      tags:
      - contract
      summary: Получить список договоров
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> договоров, отсортированный в лексикографическом
        порядке.
      operationId: v1-get-contract-list
      parameters:
      - $ref: '#/components/parameters/query_offset'
      - $ref: '#/components/parameters/query_limit'
      responses:
        200:
          $ref: '#/components/responses/get_v1_contract_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/contract/{external_id}:
    put:
      tags:
      - contract
      summary: Создать договор
      operationId: v1-create-contract
      description: |
        Метод создаёт или обновляет данные договора. Если договор с переданным идентификатором:

        * Не существует, метод создаст договор.
        * Существует, метод обновит данные договора.
      parameters:
      - $ref: '#/components/parameters/path_contract_external_id'
      - $ref: '#/components/parameters/query_update_additional_contracts_parties'
      requestBody:
        $ref: '#/components/requestBodies/put_v1_contract_external_id_request'
      responses:
        200:
          description: OK (данные договора обновлены)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        201:
          description: Created (договор создан)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
    get:
      tags:
      - contract
      summary: Получить договор
      operationId: v1-get-contract
      description: Метод получает данные договора.
      parameters:
      - $ref: '#/components/parameters/path_contract_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_contract_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/contract/{external_id}/create_cid:
    post:
      tags:
      - contract
      summary: Запросить CID для контракта
      operationId: v1-create-internal-cid
      description: Метод запрашивает CID для контракта в ЕРИР
      parameters:
      - $ref: '#/components/parameters/path_contract_external_id'
      responses:
        200:
          description: OK (CID уже был запрошен)
        201:
          description: OK (CID будет запрошен у ЕРИР, после чего будет доступен через
            GET запрос contract/{external_id})
        400:
          $ref: '#/components/responses/common_error_response_400'
        404:
          $ref: '#/components/responses/common_error_response_404'
  /v1/cid:
    get:
      tags:
      - cid
      summary: Получить список внешних cid
      description: Метод получает список внешних cid, отсортированный в лексикографическом
        порядке.
      operationId: v1-get-cid-list
      parameters:
      - $ref: '#/components/parameters/query_offset'
      - $ref: '#/components/parameters/query_limit'
      responses:
        200:
          $ref: '#/components/responses/get_v1_cid_list_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/cid/{cid_value}:
    put:
      tags:
      - cid
      summary: Добавить внешний cid
      operationId: v1-create-external-cid
      description: |
        Метод создаёт или обновляет данные внешнего cid. Если cid с переданным идентификатором:

        * Не существует, метод создаст cid.
        * Существует, метод обновит данные cid.
      parameters:
      - $ref: '#/components/parameters/path_cid_value'
      requestBody:
        $ref: '#/components/requestBodies/put_v1_external_cid_request'
      responses:
        200:
          description: OK (данные cid обновлены)
        201:
          description: Created (cid создан)
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
    get:
      tags:
      - cid
      summary: Получить внешний cid
      operationId: v1-get-cid
      description: Метод получает данные внешнего cid.
      parameters:
      - $ref: '#/components/parameters/path_cid_value'
      responses:
        200:
          $ref: '#/components/responses/get_v1_cid_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/pad:
    get:
      tags:
      - pad
      summary: Получить список рекламных площадок
      operationId: v1-get-pad-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> рекламных площадок, отсортированный
        в лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_offset'
      - $ref: '#/components/parameters/query_limit'
      - $ref: '#/components/parameters/query_person_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_pad_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/pad/info/restricted:
    get:
      tags:
      - pad
      summary: Получить список требующих детализации url площадок
      operationId: v1-get-pad-info-restricted
      description: Метод отдает список требующих детализации url площадок. Детализация
        означает, что нужно указать конкретную группу, сообщество и т.д. на указанной
        платформе. При сохранении площадки с url из данного списка, будет выдана ошибка.
        Сравнение url производится без учета протокола и знака '/' в конце url.
      responses:
        200:
          $ref: '#/components/responses/get_v1_restricted_pad_urls_response_200'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/pad/{external_id}:
    put:
      tags:
      - pad
      summary: Создать рекламную площадку
      operationId: v1-create-pad
      description: |
        Метод создаёт или обновляет рекламную площадку. Если рекламная площадка с переданным идентификатором:

        * Не существует, метод создаст рекламную площадку.
        * Существует, метод обновит данные рекламной площадки.
      parameters:
      - $ref: '#/components/parameters/path_pad_external_id'
      requestBody:
        $ref: '#/components/requestBodies/put_v1_pad_external_id_request'
      responses:
        200:
          description: OK (данные рекламной площадки обновлены)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        201:
          description: Created (рекламная площадка создана)
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    $ref: '#/components/schemas/CommonInfoMessagesFor2xx'
            no-content:
              schema:
                type: object
                example: null
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - pad
      summary: Получить рекламную площадку
      operationId: v1-get-pad
      description: Метод получает данные рекламной площадки.
      parameters:
      - $ref: '#/components/parameters/path_pad_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_pad_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/creative:
    get:
      tags:
      - creative
      summary: Получить список креативов
      operationId: v1-get-creative-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> креативов, отсортированный в лексикографическом
        порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v1_creative_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/creative/list/erids:
    get:
      tags:
      - creative
      summary: Получить список маркеров рекламы
      operationId: v1-get-creative-erids-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/ad.html#marking-token'
        target='_blank'>маркеров рекламы</a>, отсортированный по внешнему идентификатору
        в лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v1_creative_list_erids_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/creative/list/erid_external_ids:
    get:
      tags:
      - creative
      summary: Получить список пар маркеров рекламы и внешних идентификаторов
      operationId: v1-get-creative-list-erid-external-ids
      description: Метод получает список пар <a href='https://ord.vk.com/help/api/glossary/ad.html#marking-token'
        target='_blank'>маркеров рекламы</a> и <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> креативов, отсортированный по
        внешнему идентификатору в лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v1_creative_list_erid_external_ids_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/creative/{external_id}/add_text:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    post:
      tags:
      - creative
      summary: Добавить тексты в креатив
      operationId: v1-add-texts-to-creative
      description: Метод добавляет тексты в креатив.
      requestBody:
        $ref: '#/components/requestBodies/post_v1_creative_external_id_add_text_request'
      responses:
        200:
          $ref: '#/components/responses/post_v1_creative_external_id_add_text_response_200'
        201:
          $ref: '#/components/responses/post_v1_creative_external_id_add_text_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/creative/{external_id}/add_media:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    post:
      tags:
      - creative
      summary: Добавить медиафайлы в креатив
      operationId: v1-add-media-to-creative
      description: Метод добавляет медиафайлы в креатив.
      requestBody:
        $ref: '#/components/requestBodies/post_v1_creative_external_id_add_media_request'
      responses:
        200:
          $ref: '#/components/responses/post_v1_creative_external_id_add_media_response_200'
        201:
          $ref: '#/components/responses/post_v1_creative_external_id_add_media_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v2/creative/{external_id}:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    put:
      tags:
      - creative
      summary: Создать креатив
      operationId: v2-create-creative
      description: |
        Метод создаёт или обновляет данные креатива. Если креатив с переданным идентификатором:

        * Не существует, метод создаст креатив.
        * Существует, метод обновит данные креатива.
      requestBody:
        $ref: '#/components/requestBodies/put_v2_creative_external_id_request'
      responses:
        200:
          $ref: '#/components/responses/put_v1_creative_external_id_response_200'
        201:
          $ref: '#/components/responses/put_v1_creative_external_id_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - creative
      summary: Получить креатив
      operationId: v2-get-creative
      description: Метод получает данные креатива.
      responses:
        200:
          $ref: '#/components/responses/get_v2_creative_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v2/creative/by_erid/{erid}:
    parameters:
    - $ref: '#/components/parameters/path_creative_marker'
    get:
      tags:
      - creative
      summary: Получить креатив по маркеру рекламы
      operationId: v2-get-creative-by-erid
      description: Метод получает данные креатива по <a href="https://ord.vk.com/help/api/glossary/ad.html#marking-token"
        target="_blank">маркеру рекламы</a>.
      responses:
        200:
          $ref: '#/components/responses/get_v2_creative_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v3/creative:
    get:
      tags:
      - creative
      summary: Получить список креативов
      operationId: v3-get-creative-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> креативов, отсортированный в лексикографическом
        порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v3_creative_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v3/creative/list/erids:
    get:
      tags:
      - creative
      summary: Получить список маркеров рекламы
      operationId: v3-get-creative-erids-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/ad.html#marking-token'
        target='_blank'>маркеров рекламы</a>, отсортированный по внешнему идентификатору
        в лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v3_creative_list_erids_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v3/creative/list/erid_external_ids:
    get:
      tags:
      - creative
      summary: Получить список пар маркеров рекламы и внешних идентификаторов
      operationId: v3-get-creative-list-erid-external-ids
      description: Метод получает список пар <a href='https://ord.vk.com/help/api/glossary/ad.html#marking-token'
        target='_blank'>маркеров рекламы</a> и <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> креативов, отсортированный по
        внешнему идентификатору в лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_creative_limit'
      - $ref: '#/components/parameters/query_creative_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v3_creative_list_erid_external_ids_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v3/creative/{external_id}:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    put:
      tags:
      - creative
      summary: Создать креатив
      operationId: v3-create-creative
      description: |
        Метод создаёт или обновляет данные креатива. Если креатив с переданным идентификатором:

        * Не существует, метод создаст креатив.
        * Существует, метод обновит данные креатива.
      requestBody:
        $ref: '#/components/requestBodies/put_v3_creative_external_id_request'
      responses:
        200:
          $ref: '#/components/responses/put_v3_creative_external_id_response_200'
        201:
          $ref: '#/components/responses/put_v3_creative_external_id_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - creative
      summary: Получить креатив
      operationId: v3-get-creative
      description: Метод получает данные креатива.
      responses:
        200:
          $ref: '#/components/responses/get_v3_creative_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v3/creative/by_erid/{erid}:
    parameters:
    - $ref: '#/components/parameters/path_creative_marker'
    get:
      tags:
      - creative
      summary: Получить креатив по маркеру рекламы
      operationId: v3-get-creative-by-erid
      description: Метод получает данные креатива по <a href="https://ord.vk.com/help/api/glossary/ad.html#marking-token"
        target="_blank">маркеру рекламы</a>.
      responses:
        200:
          $ref: '#/components/responses/get_v3_creative_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v3/creative/{external_id}/add_text:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    post:
      tags:
      - creative
      summary: Добавить тексты в креатив
      operationId: v3-add-texts-to-creative
      description: Метод добавляет тексты в креатив.
      requestBody:
        $ref: '#/components/requestBodies/post_v3_creative_external_id_add_text_request'
      responses:
        200:
          $ref: '#/components/responses/post_v3_creative_external_id_add_text_response_200'
        201:
          $ref: '#/components/responses/post_v3_creative_external_id_add_text_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v3/creative/{external_id}/add_media:
    parameters:
    - $ref: '#/components/parameters/path_creative_external_id'
    post:
      tags:
      - creative
      summary: Добавить медиафайлы в креатив
      operationId: v3-add-media-to-creative
      description: Метод добавляет медиафайлы в креатив.
      requestBody:
        $ref: '#/components/requestBodies/post_v3_creative_external_id_add_media_request'
      responses:
        200:
          $ref: '#/components/responses/post_v3_creative_external_id_add_media_response_200'
        201:
          $ref: '#/components/responses/post_v3_creative_external_id_add_media_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/media:
    get:
      tags:
      - media
      summary: Получить список медиафайлов
      operationId: v1-get-media
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> медиафайлов, отсортированный в
        лексикографическом порядке.
      parameters:
      - $ref: '#/components/parameters/query_media_limit'
      - $ref: '#/components/parameters/query_media_offset'
      responses:
        200:
          $ref: '#/components/responses/get_v1_media_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/media/{external_id}:
    put:
      tags:
      - media
      summary: Загрузить медиафайл
      operationId: v1-upload-media
      description: |
        Метод загружает медиафайл в ОРД VK.

        Максимальный размер медиафайла — `2` Гб.

        <blockquote>
        <strong>Осторожно!</strong>
        <ul><li>Если вы загрузили медиафайл, изменить медиафайл невозможно. Чтобы изменить название медиафайла, отправьте запрос с тем же медиафайлом, но с другим именем.</li><li>Удаление медиафайла также невозможно.</li></ul>
        </blockquote>
      requestBody:
        $ref: '#/components/requestBodies/put_v1_media_external_id_request'
      parameters:
      - $ref: '#/components/parameters/path_media_external_id'
      responses:
        200:
          $ref: '#/components/responses/put_v1_media_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
    get:
      tags:
      - media
      summary: Получить бинарный медиафайл
      operationId: v1-get-binary-media
      description: Метод получает бинарное представление медиафайла.
      parameters:
      - $ref: '#/components/parameters/path_media_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_media_external_id_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/media/{external_id}/info:
    get:
      tags:
      - media
      summary: Получить данные медиафайла
      operationId: v1-get-media-data
      description: Метод отдает данные медиафайла.
      parameters:
      - $ref: '#/components/parameters/path_media_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_media_external_id_info_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/get_media_info:
    post:
      tags:
      - media
      summary: Получить данные медиафайлов
      operationId: v1-get-media-info
      description: Метод отдает данные медиафайлов.
      requestBody:
        $ref: '#/components/requestBodies/post_v1_get_media_info_request'
      responses:
        200:
          $ref: '#/components/responses/post_v1_media_info_list_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v1/invoice:
    get:
      tags:
      - invoice
      summary: Получить список актов
      operationId: v1-get-invoice-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> актов, отсортированный в лексикографическом
        порядке.
      parameters:
      - $ref: '#/components/parameters/query_invoice_limit'
      - $ref: '#/components/parameters/query_invoice_offset'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - external_ids
                - total_items_count
                - limit
                description: Информация о списке внешних идентификаторов актов.
                properties:
                  external_ids:
                    uniqueItems: true
                    type: array
                    description: Список внешних идентификаторов актов, отсортированный
                      в лексикографическом порядке.
                    example:
                    - 3r25a7ucme2-7j8acrndu
                    - 5t33p36p8p-1h57fjo00
                    - j562vc8csdg-1h5a4ha23
                    - k5natvtr8to-1h4gafm6h
                    - s9r8ee4o42-1h5a52qhu
                    items:
                      allOf:
                      - $ref: '#/components/schemas/InvoiceShortStringFormat'
                      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
                        target="_blank">Внешний идентификатор</a> акта.
                  total_items_count:
                    $ref: '#/components/schemas/InvoiceItemsTotalCount'
                  limit:
                    $ref: '#/components/schemas/InvoiceItemsLimit'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v2/invoice/{external_id}/delete:
    post:
      tags:
      - invoice
      summary: Удалить договоры из акта
      operationId: v2-delete-contracts-from-invoice
      description: |
        Метод удаляет <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальные договоры</a>, <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативы</a> и <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламные площадки</a> из акта.

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v2-send-invoice-to-erir).
        Удаление происходит на той глубине, до которой вы передали данные:
        <blockquote>
        <ul>
        <li>если указаны площадки, то удалятся только они. Даже если удалить все площадки креатива, то останется привязка креатива к акту, и по ней продолжит работать неявная привязка внешних статистик к акту.</li>
        <li>если площадки не указаны, но указаны креативы - то из договора удалятся указанные креативы со всеми их площадками, и внешние статистики на стороне ЕРИР больше привязываться не будут. При удалении последнего креатива договора договор из акта полностью удаляется.</li>
        <li>если креативы не указаны, но указаны договоры - каждый такой договор удаляется из акта со всем его содержимым.</li>
        </ul>
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItemsDeleteInfo'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v2/invoice/{external_id}/ready:
    post:
      tags:
      - invoice
      summary: Отправить акт в ЕРИР
      operationId: v2-send-invoice-to-erir
      description: |
        Метод отправляет акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>.

        Вызов метода необходим, если вы создали акты или добавили в них данные с помощью методов:

        * [Создать акт](#invoice/v2-create-invoice).
        * [Добавить договоры в акт](#invoice/v2-add-contracts-to-invoice).
        * [Удалить договоры из акта](#invoice/v2-delete-contracts-from-invoice).
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      responses:
        200:
          description: OK (акт добавлен в очередь на отправку в ЕРИР)
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v3/invoice/{external_id}:
    parameters:
    - $ref: '#/components/parameters/path_invoice_external_id'
    put:
      tags:
      - invoice
      summary: Создать полный акт
      operationId: v3-create-whole-invoice
      description: |
        Метод создаёт или обновляет данные акта с информацией о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a>. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>. Если акт с переданным идентификатором:

        * Не существует, метод создаст акт.
        * Существует, метод обновит данные акта.
      parameters:
      - $ref: '#/components/parameters/query_draft'
      requestBody:
        description: Данные акта.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceV3'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        201:
          $ref: '#/components/responses/info_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - invoice
      summary: Получить акт
      operationId: v3-get-invoice
      description: Метод получает данные акта.
      responses:
        200:
          description: OK (данные акта получены)
          content:
            application/json:
              schema:
                required:
                - erir_tax_status
                allOf:
                - $ref: '#/components/schemas/InvoiceV3'
                properties:
                  status:
                    description: Статус акта.
                    enum:
                    - deleted
                    - draft
                    type: string
                    nullable: true
                    example: deleted
                  erir_tax_status:
                    $ref: '#/components/schemas/ErirTaxStatus'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
    delete:
      tags:
      - invoice
      summary: Удалить акт
      operationId: v3-delete-invoice
      description: Метод удаляет данные акта.
      responses:
        200:
          description: OK (акт удален)
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
      security:
      - Bearer: []
  /v3/invoice/{external_id}/header:
    put:
      tags:
      - invoice
      summary: Создать акт
      operationId: v3-create-invoice
      description: |
        Метод создаёт или обновляет данные акта без передачи информации о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a>. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>. Если акт с переданным идентификатором:

        * Не существует, метод создаст акт.
        * Существует, метод обновит данные акта.

        Чтобы добавить информацию о разаллокации по изначальным договорам, вызовите метод [Добавить договоры в акт](https://ord.vk.com/help/api/swagger/#/invoice/v2-add-contracts-to-invoice).

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v2-send-invoice-to-erir).

        <blockquote>
        <strong>Осторожно!</strong> Перед отправкой акта в ЕРИР обязательно проверьте корректность и полноту данных.
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        description: Данные акта.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceV3Header'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        201:
          $ref: '#/components/responses/info_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - invoice
      summary: Получить данные акта без разаллокаций
      operationId: v3-get-invoice-header
      description: Метод получает данные акта без разаллокаций.
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      responses:
        200:
          description: OK (данные акта без разаллокаций получены)
          content:
            application/json:
              schema:
                required:
                - erir_tax_status
                allOf:
                - $ref: '#/components/schemas/InvoiceV3Header'
                properties:
                  status:
                    description: Статус акта.
                    enum:
                    - deleted
                    - draft
                    type: string
                    nullable: true
                    example: deleted
                  erir_tax_status:
                    $ref: '#/components/schemas/ErirTaxStatus'
  /v3/invoice/{external_id}/items:
    patch:
      tags:
      - invoice
      summary: Добавить договоры в акт
      operationId: v3-add-contracts-to-invoice
      description: |
        Метод добавляет информацию о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a> в акт. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>.

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v2-send-invoice-to-erir).

        <blockquote>
        <strong>Осторожно!</strong> Перед отправкой акта в ЕРИР обязательно проверьте корректность и полноту данных.
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceV3ItemsArray'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v4/invoice:
    get:
      tags:
      - invoice
      summary: Получить список актов
      operationId: v4-get-invoice-list
      description: Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id'
        target='_blank'>внешних идентификаторов</a> актов, отсортированный в лексикографическом
        порядке.
      parameters:
      - $ref: '#/components/parameters/query_invoice_limit'
      - $ref: '#/components/parameters/query_invoice_offset'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                - external_ids
                - total_items_count
                - limit
                description: Информация о списке внешних идентификаторов актов.
                properties:
                  external_ids:
                    uniqueItems: true
                    type: array
                    description: Список внешних идентификаторов актов, отсортированный
                      в лексикографическом порядке.
                    example:
                    - 3r25a7ucme2-7j8acrndu
                    - 5t33p36p8p-1h57fjo00
                    - j562vc8csdg-1h5a4ha23
                    - k5natvtr8to-1h4gafm6h
                    - s9r8ee4o42-1h5a52qhu
                    items:
                      allOf:
                      - $ref: '#/components/schemas/InvoiceShortStringFormat'
                      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
                        target="_blank">Внешний идентификатор</a> акта.
                  total_items_count:
                    $ref: '#/components/schemas/InvoiceItemsTotalCount'
                  limit:
                    $ref: '#/components/schemas/InvoiceItemsLimit'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v4/invoice/{external_id}/delete:
    post:
      tags:
      - invoice
      summary: Удалить договоры из акта
      operationId: v4-delete-contracts-from-invoice
      description: |
        Метод удаляет <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальные договоры</a>, <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативы</a> и <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламные площадки</a> из акта.

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v4-send-invoice-to-erir).
        Удаление происходит на той глубине, до которой вы передали данные:
        <blockquote>
        <ul>
        <li>если указаны площадки, то удалятся только они. Даже если удалить все площадки креатива, то останется привязка креатива к акту, и по ней продолжит работать неявная привязка внешних статистик к акту.</li>
        <li>если площадки не указаны, но указаны креативы - то из договора удалятся указанные креативы со всеми их площадками, и внешние статистики на стороне ЕРИР больше привязываться не будут. При удалении последнего креатива договора договор из акта полностью удаляется.</li>
        <li>если креативы не указаны, но указаны договоры - каждый такой договор удаляется из акта со всем его содержимым.</li>
        </ul>
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItemsDeleteInfo'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v4/invoice/{external_id}/ready:
    post:
      tags:
      - invoice
      summary: Отправить акт в ЕРИР
      operationId: v4-send-invoice-to-erir
      description: |
        Метод отправляет акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>.

        Вызов метода необходим, если вы создали акты или добавили в них данные с помощью методов:

        * [Создать акт](#invoice/v4-create-invoice).
        * [Добавить договоры в акт](#invoice/v4-add-contracts-to-invoice).
        * [Удалить договоры из акта](#invoice/v4-delete-contracts-from-invoice).
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      responses:
        200:
          description: OK (акт добавлен в очередь на отправку в ЕРИР)
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v4/invoice/{external_id}:
    parameters:
    - $ref: '#/components/parameters/path_invoice_external_id'
    put:
      tags:
      - invoice
      summary: Создать полный акт
      operationId: v4-create-whole-invoice
      description: |
        Метод создаёт или обновляет данные акта с информацией о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a>. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>. Если акт с переданным идентификатором:

        * Не существует, метод создаст акт.
        * Существует, метод обновит данные акта.
      parameters:
      - $ref: '#/components/parameters/query_draft'
      requestBody:
        description: Данные акта.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceV4'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        201:
          $ref: '#/components/responses/info_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - invoice
      summary: Получить акт
      operationId: v4-get-invoice
      description: Метод получает данные акта.
      responses:
        200:
          description: OK (данные акта получены)
          content:
            application/json:
              schema:
                required:
                - erir_tax_status
                allOf:
                - $ref: '#/components/schemas/InvoiceV4'
                properties:
                  status:
                    description: Статус акта.
                    enum:
                    - deleted
                    - draft
                    type: string
                    nullable: true
                    example: deleted
                  erir_tax_status:
                    $ref: '#/components/schemas/ErirTaxStatus'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
    delete:
      tags:
      - invoice
      summary: Удалить акт
      operationId: v4-delete-invoice
      description: Метод удаляет данные акта.
      responses:
        200:
          description: OK (акт удален)
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
      security:
      - Bearer: []
  /v4/invoice/{external_id}/header:
    put:
      tags:
      - invoice
      summary: Создать акт
      operationId: v4-create-invoice
      description: |
        Метод создаёт или обновляет данные акта без передачи информации о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a>. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>. Если акт с переданным идентификатором:

        * Не существует, метод создаст акт.
        * Существует, метод обновит данные акта.

        Чтобы добавить информацию о разаллокации по изначальным договорам, вызовите метод [Добавить договоры в акт](https://ord.vk.com/help/api/swagger/#/invoice/v4-add-contracts-to-invoice).

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v4-send-invoice-to-erir).

        <blockquote>
        <strong>Осторожно!</strong> Перед отправкой акта в ЕРИР обязательно проверьте корректность и полноту данных.
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        description: Данные акта.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/InvoiceV4Header'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        201:
          $ref: '#/components/responses/info_response_201'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
    get:
      tags:
      - invoice
      summary: Получить данные акта без разаллокаций
      operationId: v4-get-invoice-header
      description: Метод получает данные акта без разаллокаций.
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      responses:
        200:
          description: OK (данные акта без разаллокаций получены)
          content:
            application/json:
              schema:
                required:
                - erir_tax_status
                allOf:
                - $ref: '#/components/schemas/InvoiceV4Header'
                properties:
                  status:
                    description: Статус акта.
                    enum:
                    - deleted
                    - draft
                    type: string
                    nullable: true
                    example: deleted
                  erir_tax_status:
                    $ref: '#/components/schemas/ErirTaxStatus'
  /v4/invoice/{external_id}/items:
    patch:
      tags:
      - invoice
      summary: Добавить договоры в акт
      operationId: v4-add-contracts-to-invoice
      description: |
        Метод добавляет информацию о разаллокации по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#primordial-contract" target="_blank">изначальным договорам</a> в акт. Изначальные договоры связаны с показами <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative" target="_blank">креативов</a> на разных <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue" target="_blank">рекламных площадках</a>.

        Чтобы отправить обновлённый акт в <a href="https://ord.vk.com/help/api/glossary/#uroa" target="_blank">ЕРИР</a>, вызовите метод [Отправить акт в ЕРИР](https://ord.vk.com/help/api/swagger/#/invoice/v4-send-invoice-to-erir).

        <blockquote>
        <strong>Осторожно!</strong> Перед отправкой акта в ЕРИР обязательно проверьте корректность и полноту данных.
        </blockquote>
      parameters:
      - $ref: '#/components/parameters/path_invoice_external_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceV3ItemsArray'
      responses:
        200:
          $ref: '#/components/responses/info_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        403:
          $ref: '#/components/responses/common_error_response_403'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/statistics/delete:
    post:
      tags:
      - statistics
      summary: Удалить статистику
      operationId: v1-delete-statistics
      description: |
        Метод удаляет статистики, не связанные с актами.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - items
              type: object
              description: Список данных статистик.
              properties:
                items:
                  type: object
                  required:
                  - creative_external_id
                  - pad_external_id
                  - date_start_actual
                  properties:
                    creative_external_id:
                      $ref: '#/components/schemas/StatisticsV2ItemCreativeExternalId'
                    pad_external_id:
                      $ref: '#/components/schemas/StatisticsV2ItemPadExternalId'
                    date_start_actual:
                      $ref: '#/components/schemas/StatisticsV2ItemDateStartActual'
      responses:
        200:
          description: OK (статистика удалена)
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        410:
          $ref: '#/components/responses/common_error_response_410'
      security:
      - Bearer: []
  /v2/statistics/list:
    get:
      tags:
      - statistics
      summary: Получить список статистик
      description: |
        Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id' target='_blank'>внешних идентификаторов</a> статистик.

        Query-параметры применяются как при операции логического «И».
      operationId: v2-get-statistics-list
      parameters:
      - $ref: '#/components/parameters/query_statistics_offset'
      - $ref: '#/components/parameters/query_statistics_limit'
      - $ref: '#/components/parameters/query_statistics_months'
      - $ref: '#/components/parameters/query_statistics_creative_external_ids'
      - $ref: '#/components/parameters/query_statistics_pad_external_ids'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StatisticsV2ItemsArray'
                properties:
                  total_items_count:
                    $ref: '#/components/schemas/InvoiceItemsTotalCount'
                  limit:
                    $ref: '#/components/schemas/InvoiceItemsLimit'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v2/statistics:
    post:
      tags:
      - statistics
      summary: Создать статистику
      operationId: v2-create-statistics
      description: |
        Метод создаёт или обновляет статистики, не связанные с актами.

        <blockquote>
        Перед использованием метода ознакомьтесь с <a href='https://ord.vk.com/help/api/peculiarity/statistics.html' target='_blank'>особенностями работы API статистики</a>.
        </blockquote>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsV2ItemsArray'
      responses:
        200:
          description: OK (статистики созданы)
          content:
            application/json:
              schema:
                type: object
                required:
                - external_ids
                description: Список внешних идентификаторов статистики.
                properties:
                  external_ids:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatisticsV2ExternalId'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
  /v3/statistics/delete:
    post:
      tags:
      - statistics
      summary: Удалить статистику
      operationId: v3-delete-statistics
      description: |
        Метод удаляет статистики, не связанные с актами.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - items
              type: object
              description: Список данных статистик.
              properties:
                items:
                  type: object
                  properties:
                    creative_external_id:
                      $ref: '#/components/schemas/StatisticsV2ItemCreativeExternalId'
                    pad_external_id:
                      $ref: '#/components/schemas/StatisticsV2ItemPadExternalId'
                    date_start_actual:
                      $ref: '#/components/schemas/StatisticsV2ItemDateStartActual'
      responses:
        200:
          description: OK (статистика удалена)
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        410:
          $ref: '#/components/responses/common_error_response_410'
      security:
      - Bearer: []
  /v3/statistics/list:
    get:
      tags:
      - statistics
      summary: Получить список статистик
      description: |
        Метод получает список <a href='https://ord.vk.com/help/api/glossary/main-objects.html#external-id' target='_blank'>внешних идентификаторов</a> статистик.

        Query-параметры применяются как при операции логического «И».
      operationId: v3-get-statistics-list
      parameters:
      - $ref: '#/components/parameters/query_statistics_offset'
      - $ref: '#/components/parameters/query_statistics_limit'
      - $ref: '#/components/parameters/query_statistics_months'
      - $ref: '#/components/parameters/query_statistics_creative_external_ids'
      - $ref: '#/components/parameters/query_statistics_pad_external_ids'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StatisticsV2ItemsArray'
                properties:
                  total_items_count:
                    $ref: '#/components/schemas/InvoiceItemsTotalCount'
                  limit:
                    $ref: '#/components/schemas/InvoiceItemsLimit'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
  /v3/statistics:
    post:
      tags:
      - statistics
      summary: Создать статистику
      operationId: v3-create-statistics
      description: |
        Метод создаёт или обновляет статистики, не связанные с актами.

        <blockquote>
        Перед использованием метода ознакомьтесь с <a href='https://ord.vk.com/help/api/peculiarity/statistics.html' target='_blank'>особенностями работы API статистики</a>.
        </blockquote>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatisticsV3ItemsArray'
      responses:
        200:
          description: OK (статистики созданы)
          content:
            application/json:
              schema:
                type: object
                required:
                - external_ids
                description: Список внешних идентификаторов статистики.
                properties:
                  external_ids:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatisticsV2ExternalId'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        409:
          $ref: '#/components/responses/common_error_response_409'
      security:
      - Bearer: []
  /v1/{data_type}/{external_id}/erir_status:
    get:
      tags:
      - erir_status
      summary: Получить статус обработки объекта рекламы
      description: Метод получает статус обработки объекта по работе с рекламой от
        ЕРИР.
      operationId: v1-get-object-processing-status
      parameters:
      - $ref: '#/components/parameters/path_erir_statusd_data_type'
      - $ref: '#/components/parameters/path_erir_statusd_external_id'
      responses:
        200:
          $ref: '#/components/responses/get_v1_data_type_external_id_erir_status_response_200'
        401:
          $ref: '#/components/responses/common_error_response_401'
        404:
          $ref: '#/components/responses/common_error_response_404'
      security:
      - Bearer: []
  /v1/erir_statuses:
    get:
      tags:
      - erir_status
      summary: Получить статус обработки объектов рекламы
      description: Метод получает статусы обработки объектов по работе с рекламой
        от ЕРИР.
      operationId: v1-get-ad-object-processing-status
      parameters:
      - $ref: '#/components/parameters/query_erir_statusd_data_type'
      - $ref: '#/components/parameters/query_erir_statusd_erir_status'
      - $ref: '#/components/parameters/query_erir_statusd_offset'
      - $ref: '#/components/parameters/query_erir_statusd_limit'
      - $ref: '#/components/parameters/query_erir_statusd_limit_per_entity'
      - $ref: '#/components/parameters/query_erir_statusd_external_ids'
      responses:
        200:
          $ref: '#/components/responses/get_v1_erir_statuses_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
      security:
      - Bearer: []
    post:
      tags:
      - erir_status
      summary: Получить статус обработки объектов рекламы
      description: Метод получает статусы обработки объектов по работе с рекламой
        от ЕРИР.
      operationId: v1-post-ad-object-processing-status
      requestBody:
        $ref: '#/components/requestBodies/post_v1_erir_statuses_request'
      responses:
        200:
          $ref: '#/components/responses/get_v1_erir_statuses_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
        401:
          $ref: '#/components/responses/common_error_response_401'
        415:
          description: Unsupported Media Type (неправильное значение заголовка “Content-Type”
            header is incorrect. Необходимо указать значение «application/json»)
      security:
      - Bearer: []
  /v1/dict/kktu:
    get:
      tags:
      - dictionary
      summary: Получить коды ККТУ
      operationId: v1-get-kktu-codes
      description: |
        Метод отдает коды <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu' target='_blank'>ККТУ</a>, которые поддерживаются в ОРД VK. Массив с <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu' target='_blank'>ККТУ</a> в теле ответа отсортирован по их кодам.
      parameters:
      - $ref: '#/components/parameters/query_dictapid_kktu_search'
      - $ref: '#/components/parameters/query_dictapid_kktu_lang'
      - $ref: '#/components/parameters/query_dictapid_offset'
      - $ref: '#/components/parameters/query_dictapid_limit'
      - $ref: '#/components/parameters/query_dictapid_kktu_codes'
      responses:
        200:
          $ref: '#/components/responses/get_v1_dict_kktu_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
      security:
      - Bearer: []
  /v1/dict/erir_message:
    get:
      tags:
      - dictionary
      summary: Получить перевод ошибки ЕРИР
      operationId: v1-get-erir-message
      description: |
        Метод отдает перевод ошибки ЕРИР, которая поддерживается в ОРД VK.
      parameters:
      - $ref: '#/components/parameters/query_dictapid_erir_message_lang'
      - $ref: '#/components/parameters/query_dictapid_erir_message'
      responses:
        200:
          $ref: '#/components/responses/get_v1_dict_erir_message_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
      security:
      - Bearer: []
    post:
      tags:
      - dictionary
      summary: Получить переводы ошибок ЕРИР
      operationId: v1-post-erir-messages
      description: |
        Метод отдает переводы ошибок ЕРИР, которые поддерживаются в ОРД VK.
      requestBody:
        $ref: '#/components/requestBodies/post_v1_erir_message_request'
      responses:
        200:
          $ref: '#/components/responses/get_v1_dict_erir_message_response_200'
        400:
          $ref: '#/components/responses/common_error_response_400'
      security:
      - Bearer: []
components:
  parameters:
    path_person_external_id:
      name: external_id
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> контрагента.
      required: true
      schema:
        maxLength: 255
        minLength: 1
        type: string
      example: 5t33p36p8p-1h57fjo00
    path_contract_external_id:
      name: external_id
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> договора.
      required: true
      schema:
        maxLength: 255
        minLength: 1
        type: string
      example: 5t33p36p8p-1h57fjo00
    path_cid_value:
      name: cid_value
      in: path
      description: Идентификатор внешнего cid в формате UUID.
      required: true
      schema:
        maxLength: 36
        minLength: 1
        type: string
      example: 123e4567-e89b-12d3-a456-426655440000
    path_pad_external_id:
      name: external_id
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> рекламной площадки.
      required: true
      schema:
        maxLength: 255
        minLength: 1
        type: string
      example: 5t33p36p8p-1h57fjo00
    query_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      example: 5
      schema:
        type: integer
        format: int32
        default: 0
    query_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `100`. Максимальное количество элементов списка — `1 000`.
      example: 5
      schema:
        maximum: 1000
        minimum: 1
        type: integer
        format: int32
        default: 100
    query_person_external_id:
      name: person_external_id
      in: query
      description: |
        Опциональный параметр, предоставленный для фильтрации списка площадок по представляющему лицу.
      example: 123e4567-e89b-12d3-a456-426655440000
      schema:
        minLength: 1
        maxLength: 255
        type: string
    query_update_additional_contracts_parties:
      name: update_additional_contracts_parties
      in: query
      description: Нужно ли обновлять стороны доп.соглашений в соответствии с текущим
        контрактом.
      example: true
      schema:
        type: boolean
        default: false
    path_creative_external_id:
      name: external_id
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> креатива.
      required: true
      schema:
        type: string
        maxLength: 255
        minLength: 1
    path_creative_marker:
      name: erid
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/ad.html#marking-token"
        target="_blank">Маркер рекламы</a>.
      required: true
      schema:
        type: string
        maxLength: 255
        minLength: 1
    query_creative_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `100`. Максимальное количество элементов списка — `1 000`.
      example: 5
      schema:
        maximum: 1000
        minimum: 1
        type: integer
        format: int32
        default: 100
    query_creative_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      example: 5
      schema:
        type: integer
        format: int32
        default: 0
    path_media_external_id:
      name: external_id
      required: true
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> медиафайла.
      schema:
        type: string
        maxLength: 255
        minLength: 1
      example: 5t33p36p8p-1h57fjo00
    query_media_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `100`. Максимальное количество элементов списка — `1 000`.
      example: 5
      schema:
        maximum: 1000
        minimum: 1
        type: integer
        format: int32
        default: 100
    query_media_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      example: 5
      schema:
        type: integer
        format: int32
        default: 0
    query_invoice_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `100`. Максимальное количество элементов списка — `1 000`.
      example: 5
      schema:
        maximum: 1000
        minimum: 1
        type: integer
        format: int32
        default: 100
    query_invoice_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      example: 5
      schema:
        type: integer
        format: int32
        default: 0
    path_invoice_external_id:
      name: external_id
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> акта.
      required: true
      schema:
        type: string
        maxLength: 255
        minLength: 1
      example: 5t33p36p8p-1h57fjo00
    query_statistics_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      example: 5
      schema:
        type: integer
        format: int32
        default: 0
    query_statistics_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `100`. Максимальное количество элементов списка — `1 000`.
      example: 5
      schema:
        maximum: 1000
        minimum: 1
        type: integer
        format: int32
        default: 100
    query_statistics_months:
      name: months
      in: query
      description: |
        Фильтрация по месяцам. Значение используется в формате `YYYY-MM-01`.
      example: 2023-04-01,2023-09-01
      schema:
        type: array
        items:
          type: string
    query_statistics_creative_external_ids:
      name: creative_external_ids
      in: query
      description: Фильтрация по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">внешним идентификаторам</a> <a href="https://ord.vk.com/help/api/glossary/main-objects.html#creative"
        target="_blank">креативов</a>.
      example: f13bt882kf-1h785sm9e,msm7kvd73i-1h785rc2h
      schema:
        type: array
        items:
          type: string
    query_statistics_pad_external_ids:
      name: pad_external_ids
      in: query
      description: Фильтрация по <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">внешним идентификаторам</a> <a href="https://ord.vk.com/help/api/glossary/main-objects.html#venue"
        target="_blank">рекламных площадок</a>.
      example: ianeqtp2eh-1h5a51sqi,5t33p36p8p-1h57fjo00
      schema:
        type: string
    query_draft:
      name: draft
      in: query
      description: Если передано значение true, создается акт-черновик, который не
        отправляется в ЕРИР
      example: true
      schema:
        type: boolean
        default: false
    path_erir_statusd_data_type:
      name: data_type
      required: true
      in: path
      description: |
        Вид объекта по работе с рекламой. Возможные значения:

        * `person` — контрагент.
        * `contract` — договор.
        * `cid` - уникальный идентификатор изначального договора (CID - Contract ID).
        * `creative` — креатив.
        * `pad` — рекламная площадка.
        * `invoice` — акт.
        * `statistics` — статистика.
      schema:
        type: string
        enum:
        - person
        - contract
        - cid
        - creative
        - pad
        - invoice
        - statistics
      example: person
    path_erir_statusd_external_id:
      name: external_id
      required: true
      in: path
      description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">Внешний идентификатор</a> объекта по работе с рекламой.
      schema:
        type: string
        maxLength: 255
        minLength: 1
      example: id_42
    query_erir_statusd_data_type:
      description: |
        Объекты по работе с рекламой, по которым выполняется фильтрация выдачи. Возможные значения:

        * `person` — контрагенты.
        * `contract` — договоры.
        * `cid` - уникальный идентификатор изначального договора (CID - Contract ID).
        * `creative` — креативы.
        * `pad` — рекламные площадки.
        * `invoice` — акты.
        * `statistics` — статистика.
      name: data_type
      in: query
      schema:
        type: string
        enum:
        - person
        - contract
        - cid
        - creative
        - pad
        - invoice
        - statistics
      example: person
      required: false
    query_erir_statusd_erir_status:
      description: |
        Статусы обработки от ЕРИР, по которым выполняется фильтрация выдачи. Возможные значения:

        * `processing` — в обработке на стороне ОРД VK или ЕРИР.
        * `bad` — не прошёл проверку ОРД VK или ЕРИР.
        * `verified` — проверка ЕРИР пройдена успешно.
      name: erir_status
      in: query
      schema:
        type: string
        enum:
        - processing
        - bad
        - verified
      example: bad
      required: false
    query_erir_statusd_offset:
      name: offset
      in: query
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 1
      required: false
    query_erir_statusd_limit:
      name: limit
      in: query
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `10 000`. Максимальное количество элементов списка - `60 000`.

        Это поле тесно связано с полем `limit_per_entity`.
      schema:
        type: integer
        minimum: 0
        maximum: 60000
        default: 10000
      example: 1000
      required: false
    query_erir_statusd_limit_per_entity:
      name: limit_per_entity
      in: query
      description: |
        Максимальное количество элементов каждого объекта по работе с рекламой, которые необходимо получить за один запрос.

        <blockquote>
        <strong>Осторожно!</strong> <ul><li>Поле тесно связано с полем <code>limit</code>.</li><li>Порядок получения объектов по работе с рекламой:<ol><li><code>person</code>.</li><li><code>contract</code>.</li><li><code>cid</code>.</li><li><code>creative</code>.</li><li><code>invoice</code>.</li><li><code>pad</code>.</li><li><code>statistics</code>.</li></ol></li></ul>

        <strong>Пример 1.</strong> Поле <code>limit</code> имеет значение <code>10</code>, в ОРД VK добавлено 9 контрагентов. Метод вернёт: 9 контрагентов и 1 договор.

        <strong>Пример 2.</strong> Поле <code>limit_per_entity</code> имеет значение <code>3</code>. Метод вернёт: 3 контрагента, 3 договора, 3 СИДа, 3 креатива, 3 рекламной площадки, 3 акта и 3 статистики.

        <strong>Пример 3.</strong> Поле <code>limit</code> имеет значение <code>10</code>, а поле <code>limit_per_entity</code> имеет значение <code>3</code>. Метод вернёт: 3 контрагента, 3 договора, 3 креатива, 1 акт.
        </blockquote>
      schema:
        type: integer
        minimum: 0
      example: 1
      required: false
    query_erir_statusd_external_ids:
      description: Список <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
        target="_blank">внешних идентификаторов</a> объектов по работе с рекламой,
        статусы обработки которых необходимо получить.
      name: external_id
      in: query
      schema:
        type: array
        items:
          type: string
        description: Внешний идентификатор объекта по работе с рекламой.
      required: false
      example: external_id=uphvmeo04lo-1h4iv1hdd&external_id=qr7kai25pag-1h43euct5
    query_dictapid_kktu_search:
      description: |
        Фраза, по которой фильтруется выдача запроса. Поиск выполняется в соответствии с языком, на котором описан код <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu' target='_blank'>ККТУ</a>:

        * По кодам <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu' target='_blank'>ККТУ</a>.
        * По описанию.
      name: search
      in: query
      schema:
        type: string
      example: табачные
      x-example-i18n:
        eng: tobacco
      required: false
    query_dictapid_kktu_lang:
      description: |
        Язык, на котором описан код <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu' target='_blank'>ККТУ</a>. Возможные значения:

        * `ru` — русский язык.
        * `en` — английский язык.

        Значение по умолчанию — `ru`.
      name: lang
      in: query
      schema:
        type: string
        enum:
        - ru
        - en
        default: ru
      example: ru
      required: false
    query_dictapid_offset:
      description: |
        Количество элементов выдачи, которые необходимо пропустить в запросе.

        Значение по умолчанию — `0`.
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 1
      required: false
    query_dictapid_limit:
      description: |
        Количество всех элементов, которые необходимо получить за один запрос.

        Значение по умолчанию — `10`. Максимальное количество элементов списка — `1 000`.
      name: limit
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 1000
        default: 10
      example: 1
      required: false
    query_dictapid_kktu_codes:
      description: Коды <a href='https://ord.vk.com/help/api/glossary/ad.html#kktu'
        target='_blank'>ККТУ</a>, перечисленные через запятую.
      name: codes
      in: query
      schema:
        type: string
      example: 1.2.1,1.2.2
    query_dictapid_erir_message_lang:
      description: |
        Язык, на котором требуется получить перевод ошибки. Возможные значения:

        * `ru` — русский язык.
        * `en` — английский язык.
        * `cn` — китайский язык.

        Значение по умолчанию — `ru`.

        Также присутствует fallback, состоящий в том, что если был запрошен китайский перевод, но его нет, то тогда в ответе будет перевод на английский язык; если же английского языка нет, то в ответе будет русский перевод; русский перевод всегда есть.
      name: lang
      in: query
      schema:
        type: string
        enum:
        - ru
        - en
        - cn
        default: ru
      example: ru
      required: false
    query_dictapid_erir_message:
      description: Ошибка от ЕРИР, перевод которой требуется получить.
      name: message
      in: query
      schema:
        type: string
      example: At least one text is required
      required: true
  requestBodies:
    put_internal_v1_person_request:
      description: Данные контрагента.
      content:
        application/json:
          schema:
            required:
            - juridical_details
            - name
            - roles
            type: object
            properties:
              name:
                $ref: '#/components/schemas/PersonName'
              rs_url:
                $ref: '#/components/schemas/PersonRsUrl'
              roles:
                $ref: '#/components/schemas/PersonRoles'
              juridical_details:
                $ref: '#/components/schemas/PersonJuridicalDetails'
            additionalProperties: false
    put_v1_contract_external_id_request:
      description: Данные договора.
      content:
        application/json:
          schema:
            required:
            - client_external_id
            - contractor_external_id
            - date
            - subject_type
            - type
            type: object
            properties:
              type:
                $ref: '#/components/schemas/ContractType'
              client_external_id:
                $ref: '#/components/schemas/ContractClientExternalId'
              contractor_external_id:
                $ref: '#/components/schemas/ContractContractorExternalId'
              date:
                $ref: '#/components/schemas/ContractDate'
              date_end:
                $ref: '#/components/schemas/ContractDateEnd'
              serial:
                $ref: '#/components/schemas/ContractSerial'
              action_type:
                $ref: '#/components/schemas/ContractActionType'
              subject_type:
                $ref: '#/components/schemas/ContractSubjectType'
              flags:
                $ref: '#/components/schemas/ContractFlags'
              parent_contract_external_id:
                $ref: '#/components/schemas/ContractParentContractExternalId'
              amount:
                $ref: '#/components/schemas/ContractAmount'
            additionalProperties: false
    put_v1_external_cid_request:
      description: Данные внешнего cid.
      content:
        application/json:
          schema:
            required:
            - name
            type: object
            properties:
              name:
                $ref: '#/components/schemas/CidName'
              client_inn:
                $ref: '#/components/schemas/CidClientInn'
              client_phone:
                $ref: '#/components/schemas/CidClientPhone'
              client_foreign_epayment_method:
                $ref: '#/components/schemas/CidClientForeignEpaymentMethod'
              client_foreign_registration_number:
                $ref: '#/components/schemas/CidClientForeignRegistrationNumber'
              client_foreign_inn:
                $ref: '#/components/schemas/CidClientForeignInn'
            additionalProperties: false
    put_v1_pad_external_id_request:
      description: Данные рекламной площадки.
      content:
        application/json:
          schema:
            required:
            - is_owner
            - name
            - person_external_id
            - type
            type: object
            properties:
              person_external_id:
                $ref: '#/components/schemas/PadPersonExternalId'
              is_owner:
                $ref: '#/components/schemas/PadIsOwner'
              type:
                $ref: '#/components/schemas/PadType'
              name:
                $ref: '#/components/schemas/PadName'
              url:
                $ref: '#/components/schemas/PadUrl'
            additionalProperties: false
    put_v2_creative_external_id_request:
      description: Данные создаваемого креатива.
      content:
        application/json:
          schema:
            type: object
            required:
            - form
            - kktus
            properties:
              person_external_id:
                $ref: '#/components/schemas/CreativePersonExternalId'
              contract_external_id:
                $ref: '#/components/schemas/CreativeContractExternalIdNullable'
              okveds:
                $ref: '#/components/schemas/CreativeOkveds'
              kktus:
                $ref: '#/components/schemas/CreativeKktu'
              name:
                $ref: '#/components/schemas/CreativeName'
              brand:
                $ref: '#/components/schemas/CreativeBrand'
              category:
                $ref: '#/components/schemas/CreativeCategory'
              description:
                $ref: '#/components/schemas/CreativeDescription'
              pay_type:
                allOf:
                - $ref: '#/components/schemas/CreativePayType'
              form:
                allOf:
                - $ref: '#/components/schemas/CreativeForm'
              targeting:
                $ref: '#/components/schemas/CreativeTargeting'
              target_urls:
                $ref: '#/components/schemas/CreativeTargetUrls'
              texts:
                $ref: '#/components/schemas/CreativeTextsNullableTrue'
              media_external_ids:
                $ref: '#/components/schemas/CreativeMediaExternalIdsNullableTrue'
              media_urls:
                $ref: '#/components/schemas/CreativeMediaUrlsNullableTrue'
              flags:
                $ref: '#/components/schemas/CreativeFlags'
            additionalProperties: false
    put_v3_creative_external_id_request:
      description: Данные создаваемого креатива.
      content:
        application/json:
          schema:
            type: object
            required:
            - form
            - kktus
            oneOf:
            - properties:
                contract_external_ids:
                  $ref: '#/components/schemas/CreativeContractExternalIds'
            - properties:
                person_external_id:
                  $ref: '#/components/schemas/CreativePersonExternalId'
            - properties:
                cids:
                  $ref: '#/components/schemas/CreativeCids'
            properties:
              kktus:
                $ref: '#/components/schemas/CreativeKktuV3'
              name:
                $ref: '#/components/schemas/CreativeName'
              brand:
                $ref: '#/components/schemas/CreativeBrand'
              category:
                $ref: '#/components/schemas/CreativeCategory'
              description:
                $ref: '#/components/schemas/CreativeDescription'
              pay_type:
                allOf:
                - $ref: '#/components/schemas/CreativePayType'
              form:
                allOf:
                - $ref: '#/components/schemas/CreativeForm'
              targeting:
                $ref: '#/components/schemas/CreativeTargeting'
              target_urls:
                $ref: '#/components/schemas/CreativeTargetUrls'
              texts:
                $ref: '#/components/schemas/CreativeTextsNullableTrue'
              media_external_ids:
                $ref: '#/components/schemas/CreativeMediaExternalIdsNullableTrue'
              media_urls:
                $ref: '#/components/schemas/CreativeMediaUrlsNullableTrue'
              flags:
                $ref: '#/components/schemas/CreativeFlags'
            additionalProperties: false
    post_v1_creative_external_id_add_text_request:
      content:
        application/json:
          schema:
            type: object
            required:
            - texts
            properties:
              texts:
                uniqueItems: true
                type: array
                description: |
                  Список текстов креатива.

                  Общая максимальная длина всех текстов креатива — `65 000` символов. Длина текстов креатива в будущих запросах будет влиять на общую максимальную длину.

                  **Пример.** Вы создали креатив с текстами, которые занимают `64 900` символов. В следующий раз вы можете добавить текстов только на `100` символов. На этом этапе вы достигли общую максимальную длину всех текстов креатива и больше не сможете добавлять тексты к креативу.
                items:
                  type: string
                  description: |
                    Текст креатива. Ограничений на деление полного текста креатива на отдельные тексты нет.

                    Максимальная длина — `65 000` символов. Заметьте, что длина текста будет влиять на общую максимальную длину всех текстов креатива.

                    <blockquote>
                    <strong>Осторожно!</strong> Редактирование или удаление текстов креатива невозможно.
                    </blockquote>
                  minLength: 1
                  maxLength: 65000
            additionalProperties: false
    post_v3_creative_external_id_add_text_request:
      $ref: '#/components/requestBodies/post_v1_creative_external_id_add_text_request'
    post_v1_creative_external_id_add_media_request:
      content:
        application/json:
          schema:
            type: object
            required:
            - media_external_ids
            properties:
              media_external_ids:
                uniqueItems: true
                type: array
                description: |
                  Список внешних идентификаторов медиафайлов, используемых в креативе. Файлы типа 'архив' можно прикреплять только к креативу с типом 'banner-html5'.

                  <blockquote>
                  <strong>Осторожно!</strong>
                  Редактирование или удаление внешних идентификаторов медиафайлов невозможно.
                  </blockquote>
                items:
                  type: string
                  description: <a href="https://ord.vk.com/help/api/glossary/main-objects.html#external-id"
                    target="_blank">Внешний идентификатор</a> медиафайла.
                  example: 65dvn9cnas8-1h5537kvu
            additionalProperties: false
    post_v3_creative_external_id_add_media_request:
      $ref: '#/components/requestBodies/post_v1_creative_external_id_add_media_request'
    put_v1_media_external_id_request:
      content:
        multipart/form-data:
          schema:
            type: object
            required:
            - media_file
            properties:
              media_file:
                type: string
                format: binary
                description: |
                  Байтовое представление медиафайла.

                  <blockquote>
                  Используйте библиотеки отправки запросов <code>multipart/form-data</code>, которые считывают файлы в нужный формат по пути к файлу.
                  </blockquote>
    post_v1_get_media_info_request:
      content:
        application/json:
          schema:
            required:
            - external_ids
            properties:
              external_ids:
                description: Cписок внешних идентификаторов файлов
                type: array
                items:
                  type: string
                  example: 3r25a7ucme2-7j8acrndu
    post_v1_erir_statuses_request:
[...]
